<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body style="background-color: black;">
	
	<h1 style="color: #3be477;">Hello <%= playlists[0].owner.display_name %></h1>
	<ul>
    	<% playlists.forEach(playlist => { %>
      	<li>
			<p><%= playlist.name %></p>
			<div>
				<a href="<%= playlist.external_urls.spotify %>" class="a-playlist" target="_blank">go spotify</a>

				<p style="display: inline-block;color: white;margin: 0px 10px;">>>></p>

				<form target="_blank" action="/playlist/<%= playlist.id %>/tracks" method="get" style="display:inline;">
					<button type="submit" class="a-playlist" ><u>View Tracks</u></button>
				</form>

				<p style="display: inline-block;color: white;margin: 0px 10px;">>>></p>
				
				<button class="a-playlist" onclick="location.href='/playlist-embed/<%= playlist.id %>'">
					<u>Embed tracks</u>
				</button>


			</div>
		</li>
    	<% }) %>
	</ul>



	<%- include('./partials/footer') %>
</body>
</html>