<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header') %>

<body style="background-color: black;">
	
	<h1 style="color: #3be477;">Hello <%= playlists[0].owner.display_name %></h1>
	<ul>
    	<% playlists.forEach(playlist => { %>
      	<li>
			<p><%= playlist.name %></p>
			<div>
				<a href="<%= playlist.external_urls.spotify %>" class="a-playlist" target="_blank">go spotify</a>
				<form target="_blank" action="/playlist/<%= playlist.id %>/tracks" method="get" style="display:inline;">
					<button type="submit" class="a-playlist" >View Tracks</button>
				</form>
				
				<button onclick="location.href='/playlist-embed/<%= playlist.id %>'">
					رفتن به صفحه امبدد پلی‌لیست
				</button>


			</div>
		</li>
    	<% }) %>
	</ul>



	<%- include('./partials/footer') %>
</body>
</html>